#boxcff{
    position: relative;
    height: 100px;
    width: 300px;
    margin-top: -185px;
    margin-left: 1678px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 120px 166px;
}
#boxcff #cff{
    position: relative;
    width: 120px;
    height: 100px;
    background: linear-gradient(90deg, #FFFFFF 0%, #000000 100%);
    border-radius: 5px;
    display: grid;
    transition: .7s;
}
#boxcff #cff:hover{
    transform: scale(1.03);
}
#boxcff #cff #bcff{
    position: absolute;
    width: 118px;
    height: 98px;
    background: linear-gradient(183.33deg, rgba(61, 161, 217, 0.8) 4.85%, #231F20 97%);
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    display: grid;
    color: white;
    justify-items: center;
}
#boxcff #cff #bcff #cffa{
    margin-top: 5px;
    font-size: medium;
    width: 90%;
    align-self: center;
    display: grid;
    justify-items: center;
    background-image: url(assets/cff.png);
    background-repeat: no-repeat;
    background-size: 19px;
}
#boxcff #cff #bcff #cffb{
    font-size: x-large;
}
#boxcff #cff #bcff #cffc{
    font-size: x-small;
}
#boxcff #cff #bcff #cffd{
    width: 80%;
    height: 50%;
    background-color:#CF202E;
    border-radius: 5px;
}
#boxcff #cff #bcff #cffd #brs{
    position: relative;
    height: 100%;
    width: 30%;
    background-color:#2EB574;
    border-radius: 5px;
}
#boxcff #cff #bcff #cffe{
    font-size: x-small;
    margin-bottom: 5px;
}
#boxcff #cffgrs{
    width: 167px;
    height: 100px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 45px 10px 45px;
    grid-template-columns: 20px 1px 20px 125px;
    grid-template-areas: 
    "none1 cffgrss1 cffgrss4 cffdiv1"
    "cffgrss cffgrss2 none2 none2"
    "none3 cffgrss3 cffgrss5 cffdiv2"
    ;
    opacity: 0;
    transition: .7s;
}
#boxcff #cffgrs #cffgrss{
    grid-area: cffgrss;
    border-bottom: #DBDBDA 1px solid;
    align-self: center;
}
#boxcff #cffgrs #cffgrss1{
    grid-area: cffgrss1;
    height: 14px;
    align-self: flex-end;
    border-left: 1px #DBDBDA solid;
}
#boxcff #cffgrs #cffgrss2{
    grid-area: cffgrss2;
    border-left: 1px #DBDBDA solid;
}
#boxcff #cffgrs #cffgrss3{
    grid-area: cffgrss3;
    height: 14px;
    align-self: flex-start;
    border-left: 1px #DBDBDA solid;
}
#boxcff #cffgrs #cffgrss4{
    grid-area: cffgrss4;
    display: grid;
    grid-template-rows: 15px 15px 15px;
    box-sizing: border-box;
}
#boxcff #cffgrs #cffgrss4 #cffgrss41{
    border-bottom: 1px solid #DBDBDA;
    width: 11px;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    box-sizing: border-box;
    align-self: flex-start;
}
#boxcff #cffgrs #cffgrss4 #cffgrss42{
    width: 12px;
    justify-self: end;
    align-self: center;
    border-bottom: 1px solid #DBDBDA;
    box-sizing: border-box;
}
#boxcff #cffgrs #cffgrss5{
    grid-area: cffgrss5;
    height: 11px;
    display: grid;
    grid-template-rows: 15px 15px 15px;
    box-sizing: border-box;
}
#boxcff #cffgrs #cffgrss5 #cffgrss51{
    border-bottom: 1px solid #DBDBDA;
    width: 11px;
    transform-origin: bottom left;
    transform: rotate(45deg);
    box-sizing: border-box;
}
#boxcff #cffgrs #cffgrss5 #cffgrss52{
    width: 12px;
    justify-self: end;
    align-self: center;
    border-bottom: 1px solid #DBDBDA;
    box-sizing: border-box;
}
#boxcff #cffgrs #cffdiv1{
    grid-area: cffdiv1;
    width: 125px;
    height: 45px;
    background: linear-gradient(90deg, #FFFFFF 0%, #000000 100%);
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.7s;
}
#boxcff #cffgrs #cffdiv1 #bcffdiv1{
    width: 122px;
    height: 42px;
    background: linear-gradient(90deg, rgba(42, 117, 161, 0.8) 0%, rgba(61, 161, 217, 0.8) 85.87%, rgba(61, 161, 217, 0.8) 100%);
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-content: center;
}
#boxcff #cffgrs #cffdiv1 #bcffdiv1 #bbcffdiv{
    width: 112px;
    height: 32px;
    color: white;
    display: grid;
    justify-items: center;
}
#boxcff #cffgrs #cffdiv1 #bcffdiv1 #bbcffdiv #isi1{
    font-size: x-small;
}
#boxcff #cffgrs #cffdiv1 #bcffdiv1 #bbcffdiv #isi2{
    font-size: medium;
}
#boxcff #cffgrs #cffdiv2{
    grid-area: cffdiv2;
    width: 125px;
    height: 45px;
    background: linear-gradient(90deg, #FFFFFF 0%, #000000 100%);
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.7s;
}
#boxcff #cffgrs #cffdiv2 #bcffdiv2{
    width: 122px;
    height: 42px;
    background: linear-gradient(90deg, rgba(42, 117, 161, 0.8) 0%, rgba(61, 161, 217, 0.8) 85.87%, rgba(61, 161, 217, 0.8) 100%);
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-content: center;
}
#boxcff #cffgrs #cffdiv2 #bcffdiv2 #bbcffdiv{
    width: 112px;
    height: 32px;
    color: white;
    display: grid;
    justify-items: center;
}
#boxcff #cffgrs #cffdiv2 #bcffdiv2 #bbcffdiv #isi1{
    font-size: x-small;
}
#boxcff #cffgrs #cffdiv2 #bcffdiv2 #bbcffdiv #isi2{
    font-size: medium;
}