* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }
body{
    background-image: url(assets/bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#bc{
    width: 175px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    transform: scale(1);
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.7s;
    margin: 100px auto;
}
#bc:hover{
    transform: scale(1.03);
}
#xcircle{
    justify-self: center;
    align-self: center;
    width: 150px;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #000000 100%);
    border-radius: 50%;
    display: grid;
    transition: 0.7s;
}
#circle{
    width: 95%;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(180deg, rgba(61, 161, 217, 0.8) 0%, #231F20 100%);
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    display: grid;
    transition: 0.7s;
}
#bcircle{
    color: white;
    cursor: pointer;
    position: absolute;
    width: 75%;
    height: 60%;
    align-self: center;
    justify-self: center;
    display: grid;
    justify-items: center;
}
#bcircle #t{
    align-self: center;
    font-weight: bold;
    font-size: medium;
}
#bcircle #tt{
    align-self: center;
    font-weight: bold;
    font-size: x-large;
}
#bcircle #st{
    font-size: x-small;
}
#bcircle #tr{
    font-size: x-small;
}
#bcircle #br{
    width: 80%;
    height: 50%;
    background-color:#CF202E;
    border-radius: 5px;
}
#br #brs{
    position: relative;
    height: 100%;
    width: 80%;
    background-color:#2EB574;
    border-radius: 5px;
}

#bbp{
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
    background-image: url(assets/logo.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    display: grid;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#bbp.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
#bbp #box{
    min-width: 3000px;
    height: 1800px;
    margin-top: 25px;
    justify-self: center;
}
#box #garis{
    opacity: 0;
    transition: .7s;
}
#garis #grsa{
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #DBDBDA;
    transform: rotate(-45deg);
    margin-left: 1355px;
    margin-top: -180px;
}
#garis #grsb{
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #DBDBDA;
    transform: rotate(45deg);
    margin-left: 1565px;
    margin-top: -0.5px;
}
#garis #grsc{
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #DBDBDA;
    transform: rotate(45deg);
    margin-left: 1490px;
    margin-top: 93px
}
#garis #grsd{
    position: static;
    width: 20px;
    height: 1px;
    border-bottom: 3px solid #DBDBDA;
    margin-left: 1632px;
    margin-top: -72px

}
#garis #grse{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#DBDBDA;
    margin-left: 1652px;
    margin-top: -6px
}
#garis #grsf{
    width: 20px;
    height: 1px;
    border-bottom: 3px solid #DBDBDA;
    margin-left: 1349px;
    margin-top: -10px
}
#garis #grsg{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#DBDBDA;
    margin-left: 1339px;
    margin-top: -6px
}
#garis #grsh{
    width: 20px;
    height: 1px;
    border-bottom: 3px solid #DBDBDA;
    transform: rotate(90deg);
    margin-left: 1549px;
    margin-top: 101px
}
#garis #grsi{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#DBDBDA;
    margin-left: 1553px;
    margin-top: 3px
}

#garis #boxcff{
    position: relative;
    height: 100px;
    width: 300px;
    margin-left: 1664px;
    margin-top: -170px;
}
#boxcff #cff{
    position: relative;
    width: 120px;
    height: 100px;
    background: linear-gradient(90deg, #FFFFFF 0%, #000000 100%);
    border-radius: 5px;
    display: grid;
    transition: .7s;
}
#boxcff #cff:hover{
    transform: scale(1.03);
}
#cff #bcff{
    position: absolute;
    width: 118px;
    height: 98px;
    background: linear-gradient(183.33deg, rgba(61, 161, 217, 0.8) 4.85%, #231F20 97%);
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    display: grid;
    color: white;
    justify-items: center;
}
#bcff #cffa{
    margin-top: 5px;
    font-size: medium;
    width: 90%;
    align-self: center;
    display: grid;
    justify-items: center;
    background-image: url(assets/cff.png);
    background-repeat: no-repeat;
    background-size: 19px;
}
#bcff #cffb{
    font-size: x-large;
}
#bcff #cffc{
    font-size: x-small;
}
#bcff #cffd{
    width: 80%;
    height: 50%;
    background-color:#CF202E;
    border-radius: 5px;
}
#cffd #brs{
    position: relative;
    height: 100%;
    width: 30%;
    background-color:#2EB574;
    border-radius: 5px;
}
#bcff #cffe{
    font-size: x-small;
    margin-bottom: 5px;
}
#boxcff #cffgrs{
    opacity: 0;
    transition: 0.7s;
}
#cffgrs #grsa{
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #DBDBDA;
    transform: rotate(0deg);
    margin-left: 121px;
    margin-top: -50px
}
#cffgrs #grsb{
    width: 50px;
    height: 1px;
    border-bottom: 1px solid #DBDBDA;
    transform: rotate(90deg);
    margin-left: 117px;
    margin-top: -1px
}
#cffgrs #grsc{
    width: 10px;
    height: 1px;
    border-bottom: 1px solid #DBDBDA;
    transform: rotate(-45deg);
    margin-left: 140px;
    margin-top: -31px
}
#cffgrs #grsd{
    width: 15px;
    height: 1px;
    border-bottom: 1px solid #DBDBDA;
    transform: rotate(0deg);
    margin-left: 149px;
    margin-top: -6px
}
#cffgrs #grsc{
    width: 10px;
    height: 1px;
    border-bottom: 1px solid #DBDBDA;
    transform: rotate(-45deg);
    margin-left: 140px;
    margin-top: -31px
}
#cffgrs #grsd{
    width: 15px;
    height: 1px;
    border-bottom: 1px solid #DBDBDA;
    transform: rotate(0deg);
    margin-left: 149px;
    margin-top: -6px
}
#cffgrs #grse{
    width: 10px;
    height: 1px;
    border-bottom: 1px solid #DBDBDA;
    transform: rotate(45deg);
    margin-left: 140px;
    margin-top: 58px
}
#cffgrs #grsf{
    width: 15px;
    height: 1px;
    border-bottom: 1px solid #DBDBDA;
    transform: rotate(0deg);
    margin-left: 148px;
    margin-top: 1px
}
#cffgrs #cffa{
    background: linear-gradient(90deg, #FFFFFF 0%, #000000 100%);
    width: 125px;
    height: 50px;
    margin-top: -90px;
    margin-left: 164px;
    border-radius: 5px;
    display: grid;
}
#cffa #bcffa{
    background: linear-gradient(90deg, rgba(42, 117, 161, 0.8) 0%, rgba(61, 161, 217, 0.8) 85.87%, rgba(61, 161, 217, 0.8) 100%);
    width: 123px;
    height: 48px;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
    color: #FFFFFF;
}
#bcffa #cffaa{
    font-size: 11px;
}
#bcffa #cffab{
    font-size: large;
    margin-bottom: 5px;
}
#cffgrs #cffb{
    background: linear-gradient(90deg, #FFFFFF 0%, #000000 100%);
    width: 125px;
    height: 50px;
    margin-top: 15px;
    margin-left: 164px;
    border-radius: 5px;
    display: grid;
}
#cffb #bcffb{
    background: linear-gradient(90deg, rgba(42, 117, 161, 0.8) 0%, rgba(61, 161, 217, 0.8) 85.87%, rgba(61, 161, 217, 0.8) 100%);
    width: 123px;
    height: 48px;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
    color: #FFFFFF;
}
#bcffb #cffba{
    font-size: 11px;
}
#bcffb #cffbb{
    font-size: large;
    margin-bottom: 5px;
}